# Python
__pycache__/
*.pyc
instance/*.db
*.db
*.pkl

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
*.db

# Environment variables
.env

# ML models (too large for git)
*.pkl

# Uploads
uploadCsvStorage/
*.csv

# Dataset (too large for git)
dataset/
baoni_dataset/

# React/Vite (not being used)
frontend/node_modules/
frontend/dist/
frontend/src/
frontend/.vite/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini.env 
